
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
  font-size: 14px;
}

.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  font-size: 14px !important;
}

.el-row {
  margin-bottom: 10px;
}

.el-dialog {
  border-radius: 0;

  .el-dialog__header {
    .el-dialog__title {
      font-size: 14px;
      color: #333;
    }
  }

  .el-dialog__footer {
    padding-top: 5px;
  }
}

.el-form-item__label {
  font-weight: normal;
  font-size: 12px;
  color: #666;
}

.el-checkbox__label {
  font-size: 12px;
}

.el-radio-button--small .el-radio-button__inner,
.el-input__inner,
.el-radio.is-bordered,
.el-textarea__inner,
.el-checkbox__inner {
  //border-radius: 0 !important;
  font-size: 12px;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  border-radius: 0;
}


.el-dialog__body {
  padding: 10px 20px 0 20px !important;
}

.el-date-editor .el-range-separator {
  padding: 0;
}

.el-tag {
  border-radius: 0;
}

.el-alert {
  border-radius: 0;
}

.el-transfer-panel {
  border-radius: 0;
}


.el-popover {
  font-size: 13px;
}


.el-step.is-vertical .el-step__title {
  font-size: 13px;
}

.el-step__description.is-process {
  color: #606266;
}

.el-form-item__label {
  padding: 0 18px 0 0;
}


.el-form {
  &.el-form--inline {
    .el-form-item--small.el-form-item {
      margin-bottom: 10px !important;
    }
  }
}


.el-step__title {
  font-size: 14px;
}

.box-card-color {
  .el-card__header {
    background-color: #f7f8fa;
    padding: 14px 20px;

    h5 {
      margin: 0;
    }
  }
}

.el-button--small {
  height: 28px !important;
  padding: 5px 14px;

  &.is-circle {
    height: 20px !important;
    width: 20px;
  }
}


.el-pagination {
  --el-pagination-button-width: 28px;
  --el-pagination-button-height: 28px;
  --el-pagination-font-size: 13px;

  .el-input__inner {
    height: 27px;
    line-height: 27px;
  }
}

.el-pagination .el-select .el-input {
  width: 100px;
}

.el-pagination__editor.el-input {
  width: 50px;
}

.el-form--inline .el-form-item:last-child {
  margin-right: 0;
}

.el-form--inline .el-form-item:not(:last-child) {
  margin-right: 12px;
}


.el-input--small {
  --el-input-height: 27px;
  font-size: 12px;
}

.multiple-select .el-input__wrapper {
  padding: 2.5px 11px;
}


.el-switch-default-color {
  --el-switch-on-color: #13ce66;
  --el-switch-off-color: #ff4949;
}

.el-descriptions__label.el-descriptions__cell.is-bordered-label {
  font-weight: normal !important;
  background: inherit !important;
}

.el-dropdown-menu--small .el-dropdown-menu__item {
  padding: 6px 20px;
  line-height: 20px;
  font-size: 12px;
}

.tc-dropdown {
  .el-dropdown-menu__item {
    padding: 2px 15px !important;
  }
}

.el-radio-button--small .el-radio-button__inner {
  padding: 7px 11px !important;
}

.el-input-number.is-controls-right[class*=small] [class*=decrease], .el-input-number.is-controls-right[class*=small] [class*=increase] {
  --el-input-number-controls-height: 13px;
}


.el-input-tag--small {
  --el-input-tag-line-height: 20px;
  --el-input-tag-padding: 4px
}

.el-input-tag__prefix, .el-input-tag__suffix {
  padding-left: 0;
}

.el-drawer__header {
  margin-bottom: 0;
  padding: 10px 20px;
}


//------------------ el tabs ------------------------------
.el-tabs__item:hover {
  color: #2f9e9e
}

.el-tabs__item.is-active {
  color: #2f9e9e
}

.el-tabs__active-bar {
  background: #2f9e9e;
}

.el-tabs--border-card {
  .el-tabs__content {
    padding: 15px 0;
  }

  > .el-tabs__header {
    background-color: transparent;

    .el-tabs__item {
      margin: -1px -1px 0px 0;
      border: 1px solid #e4e7ed;
      background: #f5f7fa;

      &.is-active {
        border-top: 2px solid #2f9e9e;
        position: relative;
        top: 1px;
      }
    }
  }

  .el-pagination {
    padding: 2px 0;
  }
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom: 2px solid #ffffff;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  top: 0 !important;
  border-bottom: 1px solid #ffffff;
}


.el-tabs {
  &.el-tabs--top {
    &.el-tabs--border-card {
      border: 0;
    }
  }
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item + .el-tabs__item,
.el-tabs--border-card > .el-tabs__header .el-tabs__item:first-child {
  margin-left: 0;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  margin: 0px -1px 0px 0 !important;
}

// ------------- end el-tabs   ------------------------------------------

.el-dropdown {
  .el-button.is-disabled, .el-button.is-disabled:hover {
    background-color: var(--el-button-disabled-bg-color) !important;
    background-image: none !important;
    border-color: var(--el-button-disabled-border-color) !important;
    color: var(--el-button-disabled-text-color) !important;
    cursor: not-allowed !important;
  }
}

.el-drawer__body {
  background: #f3f3f4;
  padding: 12px 12px 12px 12px;

  > div {
    background: #FFFFFF;
    padding: 15px 20px 10px 20px;
  }
}

.el-descriptions__table {
  > tbody > tr > td {
    position: relative;
    padding-bottom: 14px !important;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      margin-bottom: 8px;
      background-image: repeating-linear-gradient(
                      to right,
                      #99999924 0,
                      #99999924 3px,
                      transparent 6px,
                      transparent 7px
      );
    }
  }
}


.el-button:focus-visible {
  outline: none;
}

.el-cascader-panel {
  font-size: 13px !important;
}
